{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Admill Systems | Coming Soon | 2018</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
  <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
<body>
<div class="wrapper">
  <div class="logo">
      <img src="{% static 'images/logo.png' %}" alt="Admill Systems Coming Soon">
    </div>
<h1>Coming soon!</h1>
		<h2>Be ready, there is just:</h2>
		<ul class="countdown">
                    <li>
                        <span class="days">46</span>
                        <p class="days_ref">days</p>
                    </li>
                    <li>
                        <span class="hours">OO</span>
                        <p class="hours_ref">hours</p>
                    </li>
                    <li>
                        <span class="minutes">23</span>
                        <p class="minutes_ref">minutes</p>
                    </li>
                    <li>
                        <span class="seconds">O3</span>
                        <p class="seconds_ref">seconds</p>
                    </li>
                </ul>
		<form>
			<input type="text" placeholder="Enter your email">
			<input type="submit" value="Keep me updated">
		</form>
		<ul class="social">
			<li><a href=""><i class="icon-facebook"></i></a></li>
			<li><a href=""><i class="icon-twitter-1"></i></a></li>
			<li><a href=""><i class="icon-behance"></i></a></li>
			<li><a href=""><i class="icon-dribbble-1"></i></a></li>
			<li><a href=""><i class="icon-pinterest-circled"></i></a></li>
			<li><a href=""><i class="icon-gplus-1"></i></a></li>
			
		</ul>
		<div class="copyright">
			<p>Site by <a href="http://walter.co.zw" target="_blank">walter.co.zw</a></p>
		</div>

{% block content %}{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.downCount.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

</body>
</html>
